<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <h1>Количество пользователей в базе данных студентов: {{count_users[0]}}</h1>
    <h1>Количество пользователей в базе данных web: {{count_users[1]}}</h1>

    <p>Сыылка на добовления нового пользователя: <a href="https://{{ URL }}/addUser">https://{{ URL }}/addUser </a> </p>
    <p>Сыылка на распознование: <a href="https://{{ URL }}/pull/2">https://{{ URL }}/pull/2 </a> </p>
    <p>Сыылка на обновления классификатора: <a href="https://{{ URL }}/testSignalClassification">https://{{ URL }}/testSignalClassification </a> </p>
</head>
<body>

</body>
</html>